.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container__balance {
    display: inline-block;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 10px;
    background: var(--background-color);
    width: 30%;
    background: #515976;
    color: #fff;
}