.container {
    padding: 20px;
}

.container__balance {
    display: inline-block;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 10px;
    background: var(--background-color);
}